<#include "base.ftl">

<#macro head>
<title>Home sweet home</title>
</#macro>

<#macro body>
<p>Welcome <i>home</i>.</p>
    <p>This site is the web ui the the ad scraping app. It currently has a dual purpose to display data and act as the
        management link between all components of the app.</p>
</#macro>
<@show />